spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/recipes
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: true
    clean-disabled: true
    baseline-on-migrate: true
    baseline-version: 1
  mail:
    host: smtp.gmail.com
    port: 587
    username: swtod.s.system@gmail.com
    password: lsuygglexlivuash
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
mail:
  host: swtod.s.system@gmail.com


